/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'supermarket';
  src: url("fonts/supermarket-webfont.eot");
  src: url("fonts/supermarket-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/supermarket-webfont.woff2") format("woff2"), url("fonts/supermarket-webfont.woff") format("woff"), url("fonts/supermarket-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'supermarket'; }

#wrapper {
  overflow: hidden;
  width: 100%; }

.row {
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .row {
      max-width: 90%; } }
  @media screen and (min-width: 960px) {
    .row {
      font-size: 80px; } }

.columns {
  padding: 0px; }

.content-pre {
  width: 100%; }

.content-pre_block {
  max-width: 100%;
  height: 200px;
  position: relative;
  background-color: gray; }

.content-pre_info {
  padding: 20px; }
  .content-pre_info p {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: normal; }

.menu {
  background: #1abc9c;
  display: none;
  width: 100%; }
  .menu a {
    text-decoration: none;
    color: #fff; }
  .menu ul {
    font-family: 'roboto', serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  .menu ul li {
    color: #fff;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 15px 0;
    text-transform: uppercase; }
    .menu ul li:hover {
      background: #16a085; }
    @media screen and (min-width: 768px) {
      .menu ul li {
        font-size: 16px; } }
    @media screen and (min-width: 960px) {
      .menu ul li {
        font-size: 20px; } }

.menu-toggle {
  background: none;
  color: #333;
  width: 100%;
  text-align: right;
  padding: 20px 0 0;
  font-size: 25px; }
  .menu-toggle a {
    text-decoration: none;
    color: #333; }

.about {
  width: 100%;
  font-family: 'roboto', serif;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  color: #333; }

/*# sourceMappingURL=style.css.map */
