    @mixin bg_img($uri) {
        background-image: url($uri);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    
    // Header //////////////////////////////////
    .header-block {
        width: 100%;
        height: 580px;
    }
    
    .header_img {
      @include bg_img("../img/header/header_img.png");
        width: 100%;
        height: 345px;
        //background-color: gray;
    }
    
    // End Header //////////////////////////////////
    // Content //////////////////////////////////
    .content-block {
        // margin-bottom: 20px;
    }
    
    .content-pre_block {
        @include bg_img("../img/content/1.jpg");
        max-width: 100%;
        height: 200px;
        position: relative;
        //background-color: gray;
        .content-pre_block_opacity {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            height: 100%;
            //border-radius: 20px;
        }
    }
    
    .content-pre_info {
        position: relative;
        padding: 20px 20px 0px;
        height: 80%;
        p {
            //font-family: 'true_m';
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: normal;
        }
    }
    
    // End Content /////////////////////////////////////
    // Content-toggle //////////////////////////////////
    .content-toggle {
        background: #1abc9c;
        display: none;
        width: 100%;
        a {
            text-decoration: none;
            color: #fff;
        }
        ul {
            font-family: 'true_m';
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            li {
                color: #fff;
                width: 80%;
                padding: 15px 0px;
                margin-left: 35px;
                padding-left: 1em;
                text-indent: -.7em;
                //font-size: 2vmax;
                font-size: 13px;
                letter-spacing: 2px;
                &:before {
                    content: "\2022";
                    font-size: 40px;
                    color: #EC1C24;
                    position: relative;
                    line-height: 0.1;
                    padding-right: .25em;
                    top: 0.25em;
                }
                &:hover {
                    //background: #16a085;
                }
                @media #{$md} {
                    font-size: 16px;
                }
                @media #{$lg} {
                    font-size: 20px;
                }
            }
        }
    }
    
    .content-toggle_btn {
        background: none;
        position: relative;
        color: #333;
        width: 100%;
        text-align: right;
        //padding: 10px 0;
        padding: 0 10px;
        font-size: 25px;
        margin-top: -10px;
        a {
            text-decoration: none;
            color: #333;
        }
        img {
            width: 38px;
            height: 38px;
        }
    }
    
    .about {
        width: 100%;
        font-family: 'roboto', serif;
        font-size: 40px;
        margin-top: 100px;
        text-align: center;
        color: #333;
    }
    
    // End Content-toggle //////////////////////////////////
