 @mixin content($uri) {
     @include bg_img($uri);
     max-width: 100%;
     height: 218px;
     position: relative;
     //background-color: gray;
     @media #{$md} {
         height: 400px;
     }
     .content-pre_block_opacity {
         position: absolute;
         background-color: rgba(255, 255, 255, 0.5);
         width: 100%;
         height: 100%;
         //border-radius: 20px;
     }
 }
 
 ::-webkit-input-placeholder {
     text-align: center;
     font-family: 'true_b';
 }
 
 ::-moz-placeholder {
     text-align: center;
     font-family: 'true_b';
 }
 /* firefox 19+ */
 
 :-ms-input-placeholder {
     text-align: center;
     font-family: 'true_b';
 }
 /* ie */
 
 input:-moz-placeholder {
     text-align: center;
     font-family: 'true_b';
 }
 
 // Content //////////////////////////////////
 .content-block {
     // margin-bottom: 20px;
 }
 
 .content-pre_block1 {
     @include content("../img/content/1.jpg");
     #ct_logo {
         width: 222px;
         height: 57px;
         @media #{$md} {
             width: 492px;
             height: 126px;
         }
     }
 }
 
 .content-pre_block2 {
     @include content("../img/content/2.jpg");
     #ct_logo {
         width: 291px;
         height: 47px;
         @media #{$md} {
             width: 647px;
             height: 104px;
         }
     }
 }
 
 .content-pre_block3 {
     @include content("../img/content/3.jpg");
     #ct_logo {
         width: 274px;
         height: 58px;
         @media #{$md} {
             width: 577px;
             height: 127px;
         }
     }
 }
 
 .content-pre_block4 {
     @include content("../img/content/4.jpg");
     #ct_logo {
         width: 206px;
         height: 58px;
         @media #{$md} {
             width: 457px;
             height: 127px;
         }
     }
 }
 
 .content-pre_block5 {
     @include content("../img/content/5.jpg");
     #ct_logo {
         width: 230px;
         height: 58px;
         @media #{$md} {
             width: 510px;
             height: 128px;
         }
     }
 }
 
 .content-pre_info {
     position: relative;
     padding: 30px 10px 10px 30px;
     height: 80%;
     letter-spacing: .8px;
     color: #FFF;
     @media #{$md} {
         padding: 50px 10px 10px 50px;
     }
 }
 
 #ct_word {
     font-family: 'true_l';
     margin-top: 15px;
     font-size: 22px;
     //font-size: 5vmax;
     font-weight: normal;
     line-height: 20px;
     //line-height: 4.5vmax;
     @media #{$md} {
         margin-top: 45px;
         font-size: 50px;
         line-height: 40px;
     }
 }
 
 #ct_highlight {
     font-family: 'true_b';
     font-size: 24px;
     //font-size: 6vmax;
     @media #{$md} {
         font-size: 53px;
     }
 }
 
 // End Content /////////////////////////////////////
 // Content-toggle //////////////////////////////////
 .content-toggle {
     //background: #1abc9c;
     display: none;
     width: 100%;
     margin-bottom: 20px;
     ul {
         list-style: none;
         margin: 0;
         padding: 0;
         li {
             color: $gray_true;
             width: 85%;
             padding: 15px 0px;
             margin-left: 20px;
             padding-left: 1em;
             @media #{$md} {
                 padding: 30px 0px 20px;
                 padding-left: 2em;
             }
             //text-indent: -.7em;
             //font-size: 2vmax;
             //font-size: 13px;
             //letter-spacing: 2px;
             &:before {
                 content: "\2022";
                 font-size: 40px;
                 color: #EC1C24;
                 position: relative;
                 line-height: 0.1;
                 padding-right: .25em;
                 top: 0.32em;
                 @media #{$md} {
                     font-size: 50px;
                 }
             }
             &:hover {
                 //background: #16a085;
             }
             @media #{$md} {
                 font-size: 16px;
                 word-wrap: break-word;
             }
             @media #{$lg} {
                 font-size: 20px;
             }
         }
     }
 }
 
 #ctg_word {
     font-family: 'true_m';
     font-size: 26px;
     color: $gray_true;
     text-align: left;
     letter-spacing: .8px;
     padding-left: 30px;
     p {
         margin-top: 5px;
         @media #{$md} {
             margin-top: 15px;
         }
     }
     @media #{$md} {
         font-size: 46px;
     }
 }
 
 #ctg_title {
     font-family: 'true_b';
     font-size: 31px;
     letter-spacing: 0px;
     margin-top: -10px;
     color: $black_true;
     @media #{$md} {
         font-size: 50px;
         line-height: 35px;
     }
 }
 
 #ctg_b {
     font-family: 'true_b';
 }
 
 .content-toggle_btn {
     background: none;
     position: relative;
     color: #333;
     width: 100%;
     text-align: right;
     //padding: 10px 0;
     padding: 0 10px;
     font-size: 25px;
     margin-top: -10px;
     @media #{$md} {
         padding: 0 35px;
         margin-top: -30px;
     }
     a {
         text-decoration: none;
         color: #333;
     }
     img {
         transition: all .3s;
         width: 38px;
         height: 38px;
         @media #{$md} {
             width: 85px;
             height: 85px;
         }
     }
     &:active {
         opacity: .7;
     }
 }
 
 // End Content-toggle //////////////////////////////////
 // Info //////////////////////////////////
 .info {
     width: 100%;
     height: 1420px;
     position: relative;
     @media #{$md} {
         height: 2500px;
     }
     .info1-block {
         @include bg_img("../img/content/info/info_img.jpg");
         width: 100%;
         height: 1600px;
         position: absolute;
         z-index: -10;
         background-size: inherit;
         top: -60px;
         //margin-top: -50px;
         //background-size: 1200px;
         //background-position: 43% 15%;
         @media #{$md-600} {
             //background-position: 100% 100%;
             background-size: cover;
             height: 1825px;
             top: -115px;
         }
         @media #{$md} {
             height: 2650px;
             //background-size: 2000px;
             //background-position: 38% 13%;
         }
         @media #{$lg} {
             background-position: 38% 0%;
         }
     }
     .info2-block {
         //@include bg_img("../img/content/info/info_img2.png");
         width: 100%;
         height: 800px;
         position: absolute;
         //top: 402px;
         bottom: 190px;
         z-index: 30;
         background-size: 1400px;
         background-position: 62% 20%;
         @media #{$md-600} {
             background-size: 1700px;
             background-position: 55% 13%;
         }
         @media #{$md} {
             top: 580px;
             //background-size: 2500px;
             //background-position: 58% 5%;
         }
     }
     .info3-block {
         //@include bg_img("../img/content/info/info_img3.png");
         width: 100%;
         height: 800px;
         position: absolute;
         bottom: -40px;
         z-index: 20;
         //background-size: 1200px;
         background-position: 62% 15%;
         @media #{$md-600} {
             bottom: -65px;
         }
         @media #{$md} {
             z-index: 20;
             background-position: 20% 0;
             height: 1400px;
             //bottom: 400px;
             background-size: 1200px;
         }
         @media #{$lg} {
             background-position: 100% -25px;
         }
     }
 }
 
 .info1_info {
     width: 90%;
     height: 400px;
     text-align: center;
     font-family: 'true_m';
     font-size: 30px;
     color: #FFF;
     margin: 0 auto;
     padding-top: 220px;
     //margin-top: 170px;
     @media #{$md-600} {
         z-index: 60;
         right: 0;
         left: 0;
         line-height: 55px;
         position: absolute;
         padding-top: 230px;
     }
     @media #{$md} {
         font-size: 58px;
         height: 560px;
         padding-top: 320px;
         z-index: 60;
         right: 0;
         left: 0;
         position: absolute;
     }
     #info1_highlight {
         margin-top: 20px;
         font-family: 'true_b';
         font-size: 32px;
         @media #{$md} {
             font-size: 60px;
         }
     }
 }
 
 .info2_info {
     width: 90%;
     height: 400px;
     text-align: center;
     font-family: 'true_l';
     font-size: 30px;
     color: #FFF;
     margin: 0 auto;
     padding-top: 160px;
     //margin-top: 170px;
     @media #{$md-600} {
         padding-top: 260px;
     }
     @media #{$md} {
         padding-top: 260px;
         padding-top: 420px;
         font-size: 65px;
         line-height: 60px;
     }
     #info2_highlight {
         //margin-top: 20px;
         font-family: 'true_b';
         font-size: 32px;
         @media #{$md} {
             font-size: 72px;
         }
     }
 }
 
 #info2_arrow_info {
     font-family: 'true_k';
     margin-top: 30px;
     line-height: 32px;
     @media #{$md} {
         margin-top: 60px;
         padding-left: 100px;
         line-height: 67px;
     }
 }
 
 #info2_arrow {
     width: 33px;
     height: 71px;
     //float: left;
     margin-left: -182px;
     margin-top: -30px;
     @media #{$md} {
         margin-left: -185px;
         margin-top: -60px;
         margin-right: 200px;
         width: 75px;
         height: 158px;
     }
 }
 
 .info2_form {
     .info2_form-block {
         width: 100%;
         min-height: 382px;
         background-color: #FFF;
         margin: 0 auto;
         margin-top: 40px;
         border-radius: 15px;
         padding: 20px;
     }
 }
 
 #info2_form_title {
     font-family: 'true_bs';
     font-size: 34px;
     color: $gray_true;
     @media #{$md} {
         font-size: 74px;
     }
 }
 
 #info2_form_line2 {
     font-family: 'true_bs';
     font-size: 49px;
     margin-top: 20px;
     color: $red_true;
     //float: left;
     padding-right: 10px;
     @media #{$md} {
         font-size: 100px;
     }
 }
 
 #info2_form_line3 {
     font-family: 'true_bs';
     font-size: 40px;
     // margin-top: 20px;
     color: $black_true;
     text-align: center;
     @media #{$md} {
         margin-top: 10px;
         font-size: 90px;
     }
 }
 
 .info2_line2 {
     display: -webkit-inline-flex;
     display: -ms-inline-flexbox;
     display: inline-flex;
     //display: -webkit-inline-box;
 }
 
 input.info2_input_word {
     width: 22vw;
     //float: right;
     display: inline-block;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     margin-top: 17px;
     padding: 0px 20px;
     border: 0 solid #ffffff;
     border-bottom: 4px solid $gray2_true;
     font: normal 28px/normal "true_m", Times, serif;
     color: rgba(0, 0, 0, 0.9);
     -o-text-overflow: clip;
     text-overflow: clip;
     @media #{$md} {
         width: 30vw;
         margin-top: 35px;
         font-size: 37px;
     }
 }
 
 input.info2_input_code {
     width: 60%;
     //float: right;
     display: block;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     margin: 0 auto;
     margin-top: 30px;
     padding: 0px 20px;
     border: 0 solid #ffffff;
     border-bottom: 4px solid $gray2_true;
     font: normal 28px/normal "true_m", Times, serif;
     color: rgba(0, 0, 0, 0.9);
     -o-text-overflow: clip;
     text-overflow: clip;
     @media #{$md} {
         font-size: 37px;
     }
 }
 
 input.submit_btn {
     margin-top: 30px;
     -webkit-border-radius: 26;
     -moz-border-radius: 26;
     border-radius: 26px;
     color: #EC1C24;
     font-family: "true_b";
     font-size: 30px;
     background-color: #fff;
     padding: 3px 40px;
     border: solid $gray2_true 1px;
     text-decoration: none;
     outline: none;
     &:active {
         border: solid $black_true 1px;
     }
     @media #{$md} {
         padding: 1px 50px;
         margin-top: 50px;
         font-size: 40px;
     }
 }
 
 .info2_line4_block {
     margin-top: 20px;
 }
 
 #info2_line4 {
     font-family: 'true_m';
     font-size: 21px;
     text-align: center;
     color: $gray_true;
     @media #{$md} {
         line-height: 10px;
         margin-top: 50px;
         font-size: 40px;
     }
 }
 
 #info2_line4_bold {
     font-family: 'true_b';
     font-size: 22px;
     text-align: center;
     color: $gray_true;
     @media #{$md} {
         font-size: 40px;
     }
 }
 
 .infops_block {
     width: 100%;
     padding: 20px;
     text-align: left;
     @media #{$md} {
         line-height: 25px;
     }
 }
 
 #infops_line_title {
     font-family: 'true_b';
     //font-size: 4.5vmax;
     font-size: 20px;
     color: $black_true;
     @media #{$md} {
         font-size: 30px;
     }
 }
 
 #infops_line {
     font-family: 'true_m';
     //font-size: 4vmax;
     font-size: 18px;
     color: $black_true;
     ul {
         list-style-type: disc;
         padding-left: 15px;
     }
     @media #{$md} {
         font-size: 20px;
     }
 }
 
 .img_sub_detail {
     margin-top: 15px;
     width: 70%;
 }
 
 // End Info //////////////////////////////////
 // Dialog info //////////////////////////////////
 .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
     float: none;
     margin: 0 auto;
     width: 94px;
 }
 
 .ti91b1 {
     text-align: center;
     margin-bottom: 10px;
     margin-top: 10px;
     font-family: 'true_m';
     font-size: 24px;
 }
 
 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default {
     border: 1px solid #d3d3d3;
     background-color: #FFF;
     background: none;
     font-weight: normal;
     color: #555555;
     font-size: 16px;
 }
 
 // End Dialog info //////////////////////////////////
 // Rotate ////////////////////////////
 .rotate {
     /*rotate info arrow btn */
     transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
 }
 
 // End Rotate ////////////////////////////
