    @mixin bg_img($uri) {
        background-image: url($uri);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    
    @mixin content($uri) {
        @include bg_img($uri);
        max-width: 100%;
        height: 218px;
        position: relative;
        //background-color: gray;
        .content-pre_block_opacity {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            height: 100%;
            //border-radius: 20px;
        }
    }
    
    $red_true: #EC1C24;
    $black_true: #414042;
    $gray_true: #6D6E71;
    // Header //////////////////////////////////
    .header {
        max-width: 100%;
        height: 580px;
    }
    
    .header-block_img {
        width: 100%;
        height: 430px;
        position: relative;
    }
    
    .header_img {
        @include bg_img("../img/header/header_img.png");
        position: absolute;
        width: 100%;
        height: 430px;
        background-size: 515%;
        background-position: 57% 57%;
        //background-color: gray;
    }
    
    .header_logo {
        position: absolute;
        width: 175px;
        height: 52px;
        right: 0;
        margin: 20px;
    }
    
    .header_info {
        font-family: 'true_b';
        width: 100%;
        position: relative;
        .header_info_block {
            position: absolute;
            width: 100%;
            top: -170px;
            p {
                text-align: center;
            }
        }
    }
    
    p#header_title {
        color: $black_true;
        font-size: 41px;
    }
    
    div#header_word {
        margin-top: 20px;
        text-align: center;
        font-family: 'true_l';
        font-size: 26px;
        span.header_highlight {
            font-family: 'true_b';
            color: $red_true;
        }
    }
    
    .header_line {
        width: 140px;
        height: 6px;
        background-color: $red_true;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    div#header_word_footer {
        margin-top: 30px;
        text-align: center;
        font-family: 'true_l';
        font-size: 31px;
        span.header_highlight_footer {
            font-family: 'true_b';
            color: $black_true;
            font-size: 30px;
        }
    }
    
    // End Header //////////////////////////////////
    // Content //////////////////////////////////
    .content-block {
        // margin-bottom: 20px;
    }
    
    .content-pre_block1 {
        @include content("../img/content/1.jpg");
        #ct_logo {
            width: 222px;
            height: 57px;
        }
    }
    
    .content-pre_block2 {
        @include content("../img/content/2.jpg");
        #ct_logo {
            width: 291px;
            height: 47px;
        }
    }

    .content-pre_block3 {
        @include content("../img/content/3.jpg");
        #ct_logo {
            width: 274px;
            height: 58px;
        }
    }

    .content-pre_block4 {
        @include content("../img/content/4.jpg");
        #ct_logo {
            width: 206px;
            height: 58px;
        }
    }
    
    .content-pre_info {
        position: relative;
        padding: 30px 10px 10px 30px;
        height: 80%;
        letter-spacing: .8px;
        color: #FFF;
    }
    
    #ct_word {
        font-family: 'true_l';
        margin-top: 15px;
        font-size: 22px;
        font-weight: normal;
        line-height: 20px;
    }
    
    #ct_highlight {
        font-family: 'true_b';
        font-size: 24px;
    }
    
    // End Content /////////////////////////////////////
    // Content-toggle //////////////////////////////////
    .content-toggle {
        //background: #1abc9c;
        display: none;
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                color: $gray_true;
                width: 85%;
                padding: 15px 0px;
                margin-left: 20px;
                padding-left: 1em;
                //text-indent: -.7em;
                //font-size: 2vmax;
                //font-size: 13px;
                //letter-spacing: 2px;
                &:before {
                    content: "\2022";
                    font-size: 40px;
                    color: #EC1C24;
                    position: relative;
                    line-height: 0.1;
                    padding-right: .25em;
                    top: 0.25em;
                }
                &:hover {
                    //background: #16a085;
                }
                @media #{$md} {
                    font-size: 16px;
                }
                @media #{$lg} {
                    font-size: 20px;
                }
            }
        }
    }
    
    #ctg_word {
        font-family: 'true_m';
        font-size: 26px;
        color: $gray_true;
        text-align: left;
        letter-spacing: .8px;
        padding-left: 30px;
        p {
            margin-top: 20px;
        }
    }
    
    #ctg_title {
        font-family: 'true_b';
        font-size: 31px;
        letter-spacing: 0px;
        margin-top: -10px;
        color: $black_true;
    }
    
    .content-toggle_btn {
        background: none;
        position: relative;
        color: #333;
        width: 100%;
        text-align: right;
        //padding: 10px 0;
        padding: 0 10px;
        font-size: 25px;
        margin-top: -10px;
        a {
            text-decoration: none;
            color: #333;
        }
        img {
            width: 38px;
            height: 38px;
        }
    }
    
    .about {
        width: 100%;
        font-family: 'roboto', serif;
        font-size: 40px;
        margin-top: 100px;
        text-align: center;
        color: #333;
    }
    
    // End Content-toggle //////////////////////////////////
