@font-face {
    font-family: 'supermarket';
    src: url('fonts/supermarket-webfont.eot');
    src: url('fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/supermarket-webfont.woff2') format('woff2'), url('fonts/supermarket-webfont.woff') format('woff'), url('fonts/supermarket-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}