 // Header //////////////////////////////////
 @mixin bg_img($uri) {
     background-image: url($uri);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
 }
 
 .header {
     max-width: 100%;
     height: 580px;
 }
 
 .header-block_img {
     width: 100%;
     height: 430px;
     position: relative;
 }
 
 .header_img {
     @include bg_img("../img/header/header_img.png");
     position: absolute;
     width: 100%;
     height: 430px;
     background-size: 515%;
     background-position: 57% 57%;
     //background-color: gray;
 }
 
 .header_logo {
     position: absolute;
     width: 175px;
     height: 52px;
     right: 0;
     margin: 20px;
 }
 
 .header_info {
     font-family: 'true_b';
     width: 100%;
     position: relative;
     .header_info_block {
         position: absolute;
         width: 100%;
         top: -170px;
         p {
             text-align: center;
         }
     }
 }
 
 p#header_title {
     color: $black_true;
     font-size: 41px;
 }
 
 div#header_word {
     margin-top: 20px;
     text-align: center;
     font-family: 'true_l';
     font-size: 26px;
     span.header_highlight {
         font-family: 'true_b';
         color: $red_true;
     }
 }
 
 .header_line {
     width: 140px;
     height: 6px;
     background-color: $red_true;
     margin: 0 auto;
     margin-top: 20px;
 }
 
 div#header_word_footer {
     margin-top: 30px;
     text-align: center;
     font-family: 'true_l';
     font-size: 31px;
     span.header_highlight_footer {
         font-family: 'true_b';
         color: $black_true;
         font-size: 30px;
     }
 }
 
 // End Header //////////////////////////////////
