 // Header //////////////////////////////////
 .header {
     max-width: 100%;
     height: 580px;
     @media #{$md-1} {
         height: 660px;
     }
     @media #{$md} {
         height: 1200px;
     }
 }
 
 .header-block_img {
     width: 100%;
     height: 430px;
     position: relative;
 }
 
 .header_img {
     @include bg_img("../img/header/header_img.png");
     position: absolute;
     width: 100%;
     height: 430px;
     background-size: 515%;
     background-position: 57% 57%;
     //background-color: gray;
     @media #{$md-1} {
         background-position: 57% 55%;
     }
     @media #{$md} {
         height: 1000px;
     }
 }
 
 .header_logo {
     position: absolute;
     width: 175px;
     height: 52px;
     right: 0;
     margin: 20px;
     @media #{$md} {
         width: 389px;
         height: 116px;
         margin: 40px 20px;
     }
 }
 
 .header_info {
     font-family: 'true_b';
     width: 100%;
     position: relative;
     .header_info_block {
         position: absolute;
         width: 100%;
         top: -170px;
         p {
             text-align: center;
         }
         @media #{$md-1} {
             margin-top: 30px;
         }
         @media #{$md} {
             top: 175px;
         }
     }
 }
 
 p#header_title {
     color: $black_true;
     font-size: 41px;
     @media #{$md-1} {
         font-size: 51px;
     }
     @media #{$md} {
         font-size: 90px;
     }
 }
 
 div#header_word {
     margin-top: 20px;
     text-align: center;
     font-family: 'true_l';
     font-size: 26px;
     @media #{$md-1} {
         font-size: 36px;
     }
     @media #{$md} {
         font-size: 60px;
         margin-top: 30px;
     }
     span.header_highlight {
         font-family: 'true_b';
         color: $red_true;
     }
 }
 
 .header_line {
     width: 140px;
     height: 6px;
     background-color: $red_true;
     margin: 0 auto;
     margin-top: 20px;
     @media #{$md-1} {
         width: 150px;
     }
     @media #{$md} {
         width: 306px;
         height: 13px;
         margin-top: 30px;
     }
 }
 
 div#header_word_footer {
     margin-top: 30px;
     text-align: center;
     font-family: 'true_l';
     font-size: 31px;
     @media #{$md-1} {
         font-size: 41px;
     }
     @media #{$md} {
         font-size: 70px;
     }
     span.header_highlight_footer {
         font-family: 'true_b';
         color: $black_true;
         font-size: 30px;
         @media #{$md-1} {
             font-size: 40px;
         }
         @media #{$md} {
             font-size: 66px;
         }
     }
 }
 
 // End Header //////////////////////////////////
