@import 'font-face';
@mixin nav_btn($color) {
    //margin-top: 30px;
    border-radius: 5px;
    font-family: Arial;
    color: #FFF;
    font-size: 19px;
    background: $color none repeat scroll 0% 0%;
    padding: 2px 31px 0px 31px;
    text-decoration: none;
    text-align: center;
    font-family: 'supermarket';
    &:hover {
        opacity: .7;
        text-decoration: none;
    }
    @media #{$xs} {
        margin-top: 30px
    }
}

.nav_main {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0px;
    z-index: 2;
    @media #{$xs} {
        height: 70px;
        background-color: rgba(255, 255, 255, 1);
    }
}

.nav_area {
    // background-color: #F00;
    width: 95%;
    height: 50px;
    margin: 10px auto;
    @media #{$xs} {
        width: 100%;
    }
    ul {
        width: 50px;
        li {
            //display: inline;
            img#nav_icon {
                width: 30px;
                height: 20px;
            }
        }
    }
    .nav_menu {
        float: left;
        width: 100px;
        height: 20px;
        margin-top: 30px;
        display: inline-flex;
        @media #{$xs} {
            width: 100px;
            margin-top: 15px;
            padding-left: 15px;
            display: inline-flex;
        }
        p {
            margin-left: 15px;
            color: #1F71B7;
            font-size: 1.5em;
            @media #{$xs} {
                float: right;
                margin-right: 5px;
            }
        }
        &:hover {
            opacity: .5;
        }
    }
    #nav_logo {
        margin: 0 auto;
        width: 116px;
        //padding-left: 44%;
        //display: block;
        img {
            width: 116px;
            height: 79px;
            position: absolute;
            @media #{$xs} {
                width: 75px;
                height: 51px;
                right: 0;
                padding-right: 15px;
            }
        }
    }
    #nav_btn {
        width: 255px;
        float: right;
        margin-top: 30px;
        @media #{$xs} {
            float: left;
            width: 100%;
            height: 50px;
            margin-top: 25px;
            background-color: rgba(255, 255, 255, 0.9);
        }
        .nav_btn_block {
            @media #{$xs} {
                width: 80%;
                height: 100%;
                margin: 17px 18% 15px;
            }
            @media #{$xxs} {
                margin: 17px 17% 15px;
            }
        }
        #nav_btn1 {
            @include nav_btn(#1F71B7);
            margin-right: 10px;
        }
        #nav_btn2 {
            @include nav_btn(#808080);
        }
    }
}
