@import 'reset';
@import 'font-face';
body {
    font-family: 'supermarket';
}

//$xxs: "screen and (max-width: 375px)";
$xs: "screen and (min-width: 375px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 960px)";
@mixin clearfix {
    zoom: 1;
    content: " ";
    clear: both;
}

#wrapper {
    overflow: hidden;
    width: 100%;
}

.row {
    max-width: 100%;
    @media #{$md} {
        max-width: 90%;
    }
    @media #{$lg} {
        font-size: 80px;
    }
}

//@import 'nav';
@import 'content';
//@import 'footer';
