@import 'reset';
@import 'font-face';
body {
    font-family: 'true_m';
}

//$xxs: "screen and (max-width: 375px)";
$sm: "screen and (min-width: 375px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 960px)";
$red_true: #EC1C24;
$black_true: #414042;
$gray_true: #6D6E71;
@mixin clearfix {
    zoom: 1;
    content: " ";
    clear: both;
}

#wrapper {
    overflow: hidden;
    width: 100%;
}

.row {
    max-width: 100%;
    @media #{$md} {
        max-width: 90%;
    }
    @media #{$lg} {
        font-size: 80px;
    }
}

.columns {
    padding: 0px;
}

@import 'header';
@import 'content';
//@import 'footer';
